*{

margin: 0px;
padding: 0px;


}


body{

    background-color: white;

}

.titulop{


    font-family: 'Pacifico', cursive;
    font-size: 40px;
    text-align: center;
    margin: 10px;

}


.titulo{


    font-family: 'Pacifico', cursive;
    color: white;
    text-align: center;
   margin-bottom: 10px;


}



.conteudo{



background-color: brown;
padding: 100px;
border-radius: 50px;
height: 320px;
float: right;
max-width: 400px;
margin: 20px;




}

input{

    display: block;
    padding: 5px;
    margin: 100px;
    font-family: 'Pacifico', cursive;
    text-align: center;
    margin: auto;
    border-radius: 15px;
    margin-bottom: 10px;
    

    }

button{

width: 180px;    
padding: 10px;
font-family: 'Pacifico', cursive;
background-color: beige;
border-radius: 20px;

}

#botao{

        text-align: center;
         padding: 10px;
       
        
        
        }    
    

#resultado{

    font-family: 'Pacifico', cursive;
    color: beige;
    font-size:25px;
    text-align: center;

}

.imagemprin{

height: 500px;
margin-left: 150px;

}